.header{
	background-color: #E3FDFD;
	margin :0;
	border: 0;

}

body{
	margin: 0;
	font-family: 'Montserrat', sans-serif;
  	text-align: center;
}

.login{
	background-color: #F0D9FF;
}

.btn{
	margin: 50px 10px;

}


.image{
	float: left;
	position: static;
	left: 150px;
	margin: 10px 50px;
	height: 120px;
	width: 120px;
}

.links{
	padding-left: 800px;
}

.heading{
	padding-top: 50px;
	padding-bottom: 50px;
}

.college-image{
	align-items: center;
	width: 900px;
	height: 500px;
}

#testimonials {
  background-color: #BFA2DB;
}

.testimonial-text {
  line-height: 1.5;
  padding-left: 225px;
  padding-right: 225px;
  padding-top: 50px;
}

.testimonials-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.ft-logo {
  margin: 10px;
}

#footer{
	background-color: #7F7C82;
	padding-bottom: 50px;
	padding-top: 50px;
}
